.container {
  width: 100%;
  box-sizing: border-box;
  border: 3px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--nav-height));
}
