.bg_img {
  /* The image used */
  background-image: url("../../Assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 8px;
  padding: 30px 48px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 45%;
  background-color: white;
  opacity: 90%;
  height: 60vh;
  overflow-y: auto;
}

.innerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Label {
  padding: 20px;
  display: flex;
}

.expandableContainer {
  width: 90%;
}

.dateTime{
  display: flex;
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 30px 0;
    width: 95%;
    box-shadow: none;
  }
}

.Teacher{
  margin: 5px !important
}